In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [19]:
df=pd.read_csv(r"C:\Users\MCA15\Documents\fruit.csv")

In [20]:
df

   ingredient  sweetness  crunchiness  food type
0       grape          8            5      fruit
1  green bean          3            7  vegetable
2        nuts          3            6    protein
3      orange          7            3      fruit

In [21]:
df.iloc[:,1:3]

   sweetness  crunchiness
0          8            5
1          3            7
2          3            6
3          7            3

In [22]:
df.iloc[:,3:4]

   food type
0      fruit
1  vegetable
2    protein
3      fruit

In [23]:
X=[[8,5],
  [3,7],
  [3,6],
  [7,3]]
y=["fruit","vegetable","protein","fruit"]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [25]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [26]:
y_pred = knn.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.0

In [27]:
new_fruit = [[155, 0]]  # 155g and smooth texture
prediction = knn.predict(new_fruit)
print("Prediction for new fruit:",prediction[0])

Prediction for new fruit: fruit

In [28]:
y=df.iloc[:,3:4]

In [29]:
X=df.iloc[:,1:3]

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [31]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [32]:
y_pred = knn.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.0

In [33]:
new_fruit = [[155, 0]]  # 155g and smooth texture
prediction = knn.predict(new_fruit)
print("Prediction for new fruit:",prediction[0])

Prediction for new fruit: fruit